@import url(./Styles/roots.css);
@import url(./Styles/utilities.css);
@import url(./Styles/cards.css);
@import url(./Styles/chips.css);
@import url(./Styles/drawer.css);
@import url(./Styles/dialogs.css);
@import url(./Styles/header.css);
@import url(./Styles/snackbar.css);
@import url(./Styles/tabs.css);
@import url(./Styles/badge.css);

html {
    font-size: 62.5%;
}

h2, h3, h6, p {
    margin: 0;
}

.container {
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
    height: min-content;
    padding: 2rem;
    background:#f7f3f3;
    margin: 1rem;
}

button {
    font-family: inherit;
}
