<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Document</title>
</head>
<body>
    <div class="center-flex-column">
        <header class="component-headers"> 
            <h2>Cards</h2>
        </header>
        <!-- basic card -->
        
        <div class="container center-flex-row">
            <div class="card basic-card">
                <div>
                    <img class="card-img basic-card-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header">
                    <h2 class="card-title">
                        Our Changing Planet
                    </h2>
                    <h3 class="card-subtitle">
                        by Kurt Wagner
                    </h3>
                    </div>
                </div>
                <p class="card-info">
                    Visit ten places on our planet that are undergoing the 
                    biggest changes today.
                </p>
                <div class="card-actions">
                    <div class="action-text">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
          
        
        
            
            <!-- text header card -->
            <div class="card basic-card">
                <div class="text-header">
                    <img class="card-img text-header-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header">
                        <h2 class="card-title">
                            Our Changing Planet
                        </h2>
                        <h3 class="card-subtitle">
                            by Kurt Wagner
                        </h3>
                    </div>
                </div>
                <p class="card-info text-header-info">
                    Visit ten places on our planet that are undergoing the 
                    biggest changes today.
                </p>
                <div class="card-actions">
                    <div class="action-text">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        
            
        
            <!-- hidden text action card -->
            <div class="card basic-card">
                <div>
                    <img class="card-img basic-card-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header">
                        <h2 class="card-title">
                            Our Changing Planet
                        </h2>
                        <h3 class="card-subtitle">
                            by Kurt Wagner
                        </h3>
                    </div>
                </div>
                <div>
                    <p class="card-info">
                        Visit ten places on our planet that are undergoing the 
                        biggest changes today.
                    </p>
                </div>
                <div class="card-actions">
                    <div class="action-text visibility-hidden">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
          
            <!-- hidden action icons card -->
            <div class="card basic-card">
                <div>
                    <img class="card-img basic-card-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header">
                        <h2 class="card-title">
                            Our Changing Planet
                        </h2>
                        <h3 class="card-subtitle">
                            by Kurt Wagner
                        </h3>
                    </div>
                </div>
                <p class="card-info">
                    Visit ten places on our planet that are undergoing the 
                    biggest changes today.
                </p>
                <div class="card-actions">
                    <div class="action-text">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons visibility-hidden">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        
            <!-- text over image card -->
            <div class="card basic-card">
                <div>
                    <img class="card-img basic-card-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header textOver-header">
                        <h2 class="card-title textOver-title">
                            Our Changing Planet
                        </h2>
                        <h3 class="card-subtitle textOver-subtitle">
                            by Kurt Wagner
                        </h3>
                    </div>
                </div>
             
                <p class="card-info textOver-info">
                    Visit ten places on our planet that are undergoing the 
                    biggest changes today.
                </p>
              
                <div class="card-actions">
                    <div class="action-text">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        
            <!-- horizontal image and text -->
        
            <div class="card basic-card hr-card">
                <div class="horizontal-layout">
                    <img class="card-img basic-card-img lined-img" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt=""/> 
                    <div class="card-header lined-header">
                        <h2 class="card-title">
                            Our Changing Planet
                        </h2>
                        <h3 class="card-subtitle">
                            by Kurt Wagner
                        </h3>
                    </div>
                </div>
             
                <p class="card-info display-none">
                    Visit ten places on our planet that are undergoing the 
                    biggest changes today.
                </p>
                <div class="card-actions">
                    <div class="action-text">
                        <button class="card-btn border-none back-transparent">
                            READ
                        </button>
                        <button class="card-btn border-none back-transparent">
                            BOOKMARK
                        </button>
                    </div>
                    <div class="action-icons">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-share-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>