<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/chips.css">
    <title>Document</title>
</head>
<body>
    <section class="chips-box">
        <span class="chips chip-orange">
            <i class="fab fa-html5"></i>
            HTML5
            <button class="chips-btn icon-orange">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
        <span class="chips chip-blue">
            <i class="fab fa-css3"></i>
            CSS3
            <button class="chips-btn">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
        <span class="chips chip-yellow">
            <i class="fab fa-js-square"></i>
            JavaScript
            <button class="chips-btn">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
    </section>

    <section class="chips-box">
        <span class="chips">
            Strawberry
        </span>
        <span class="chips">
            Orange
        </span>
        <span class="chips">
            Apple
        </span>
    </section>
    <section class="chips-box">
        <span class="chips">
            Kiwi
            <button class="chips-btn">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
        <span class="chips">
            Cherry
            <button class="chips-btn">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
        <span class="chips">
            Mango
            <button class="chips-btn">
                <i class="fas fa-times-circle"></i>
            </button>
        </span>
    </section>
</body>
</html>