<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Dialogs</title>
</head>
<body>
    <div class="container">
        <div class="dialog">
            <p>Discard draft?</p>
            <div class="dialog-btn-box">
                <button class="btn-dialog">CANCLE</button>
                <button class="btn-dialog">DISCARD</button>
            </div>
        </div>

        <div class="dialog list-dialog">
            <p class="list-dialog-lable">Set backup account </p>
            <ul class="dialog-list">
                <li class="dialog-list-item">
                    <i class="fas fa-user-circle"></i>
                    <span class="p-left">user01@gmail.com</span>
                </li>
                <li class="dialog-list-item">
                    <i class="fas fa-user-circle"></i>
                    <span class="p-left">user02@gmail.com</span>
                </li>
                <li class="dialog-list-item">
                    <i class="fas fa-plus-circle"></i>
                    <span class="p-left">user03@gmail.com</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>