<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/drawer.css">
    <title>Drawers</title>
</head>
<body>
    <div>
        <aside>
            <div>
                <h3>Mail</h3>
                <h6>email@material.io</h6>
            </div>
            <nav>
                <a>
                    <i class="fas fa-inbox"></i>
                    Inbox
                    <i class="fas fa-chevron-down"></i>
                    <div>
                        <a></a>
                    </div>
                </a>
                <a>
                    <i class="fas fa-star"></i>
                    Star
                </a>
                <a>
                    <i class="fas fa-paper-plane"></i>
                    Sent
                </a>
                <a>
                    <i class="fas fa-envelope-open"></i>
                    Drafts
                </a>

                <hr />
                
                <h6>Label</h6>

                <a>
                    <i class="fas fa-bookmark"></i>
                    Family
                </a>
                <a>
                    <i class="fas fa-bookmark"></i>
                    Freinds
                </a>
                <a>
                    <i class="fas fa-bookmark"></i>
                    Work
                </a>

                <hr/>

                <a>
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
                <a>
                    <i class="fas fa-info-circle"></i>
                    Help
                </a>
            </nav>
        </aside>
        <main>
            <header>
                Permanent Drawer
            </header>
            <section>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </section>
        </main>
    </div>
</body>
</html>