<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/drawer.css">
    <title>Drawers</title>
</head>
<body>
    <div class="container">
        <aside class="drawer">
            <div class="drawer-head bg-white">
                <h3 class="drawer-title">Mail</h3>
                <h6>email@material.io</h6>
            </div>
            <nav class="drawer-list">
                <div class="flex-column">
                    <a class="link-box active-link">
                        <i class="fas fa-inbox m-right"></i>
                        Inbox
                        <i class="fas fa-chevron-down right-icon display-none"></i>
                        <div class="display-none">
                            <a class="link-box sub-link-box">
                                <i class="fas fa-inbox m-right"></i>
                                Primary
                            </a>
                            <a class="link-box sub-link-box">
                                <i class="fas fa-user-friends m-right"></i>
                                Social
                            </a>
                            <a class="link-box sub-link-box">
                                <i class="fas fa-tag m-right"></i>
                                Promotions
                            </a>
                        </div>
                    </a>
                    <a class="link-box">
                        <i class="fas fa-star m-right"></i>
                        Star
                    </a>
                    <a class="link-box">
                        <i class="fas fa-paper-plane m-right"></i>
                        Sent
                    </a>
                    <a class="link-box">
                        <i class="fas fa-envelope-open m-right"></i>
                        Drafts
                    </a>
                </div>

                <hr />

                <div class="flex-column">
                    <span class="link-box">Labels</span>

                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Family
                    </a>
                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Freinds
                    </a>
                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Work
                    </a>
                </div>

                <hr/>

                <div class="flex-column">
                    <a class="link-box">
                        <i class="fas fa-cog m-right"></i>
                        Settings
                    </a>
                    <a class="link-box">
                        <i class="fas fa-info-circle m-right"></i>
                        Help
                    </a>
                </div>
            </nav>
        </aside> 
        
        <aside class="drawer">
            <div class="drawer-head bg-white">
                <h3 class="drawer-title">Mail</h3>
                <h6>email@material.io</h6>
            </div>
            <nav class="drawer-list">
                <div class="flex-column">
                    <a class="link-box active-link">
                        <i class="fas fa-inbox m-right"></i>
                        Inbox
                        <i class="fas fa-chevron-down right-icon"></i>
                        <!-- <div class="hover-display"> -->
                            <a class="link-box sub-link-box">
                                <i class="fas fa-inbox m-right"></i>
                                Primary
                            </a>
                            <a class="link-box sub-link-box">
                                <i class="fas fa-user-friends m-right"></i>
                                Social
                            </a>
                            <a class="link-box sub-link-box">
                                <i class="fas fa-tag m-right"></i>
                                Promotions
                            </a>
                        <!-- </div> -->
                    </a>
                    <a class="link-box">
                        <i class="fas fa-star m-right"></i>
                        Star
                    </a>
                    <a class="link-box">
                        <i class="fas fa-paper-plane m-right"></i>
                        Sent
                    </a>
                    <a class="link-box">
                        <i class="fas fa-envelope-open m-right"></i>
                        Drafts
                    </a>
                </div>

                <hr />

                <div class="flex-column">
                    <span class="link-box">Labels</span>

                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Family
                    </a>
                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Freinds
                    </a>
                    <a class="link-box">
                        <i class="fas fa-bookmark m-right"></i>
                        Work
                    </a>
                </div>

                <hr/>

                <div class="flex-column">
                    <a class="link-box">
                        <i class="fas fa-cog m-right"></i>
                        Settings
                    </a>
                    <a class="link-box">
                        <i class="fas fa-info-circle m-right"></i>
                        Help
                    </a>
                </div>
            </nav>
        </aside> 
    </div>
</body>
</html>