<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Header</title>
</head>
<body>

    <!--standard header -->
    <div class="container">
        <nav class="header">
            <section class="header-section header-title">
                <button class="btn-header border-none back-transparent">
                    <i class="fas fa-bars"></i>
                </button>
                <span>Standard</span>
            </section>
            <section class="header-section header-actions">
                <button class="btn-header border-none back-transparent">
                    <i class="fas fa-download"></i>
                </button>
                <button class="btn-header border-none back-transparent">
                    <i class="fas fa-print"></i>
                </button>
                <button class="btn-header border-none back-transparent">
                    <i class="fas fa-bookmark"></i>
                </button>
            </section>
        </nav>
    </div>

    <!-- badges -->

    <!-- badge with text -->
    <div class="container">
        <div class="text-badge-box">
            <p>Text with a badge</p>
            <span class="badge badge-text">4</span>   
        </div>

        <div class="badge-box">
            <button class="btn-badge border-none">
                Action
            </button>
            <span class="badge badge-top-right">4</span>
        </div>

        <div class="badge-box">
            <button class="btn-badge border-none">
                Action
            </button>
            <span class="badge badge-top-left">4</span>
        </div>

        <div class="badge-box"> 
            <i class="fas fa-home"></i>
            <span class="badge badge-bottom-left">4</span>
        </div>
    </div>
</body>
</html>