<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Snackbar</title>
</head>
<body>
    <div class="container">
       <div class="snackbar">
           <span class="snackbar-text">Can't send photo. Retry in 5 seconds.</span> 
           <button class="btn-snackbar border-none back-transparent">RETRY</button>
           <i class="fas fa-times"></i>
       </div>
    </div>
</body>
</html>