@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    font-size: 62.5%;
}


.chips-box {
    /* font-size: 1.5rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: min-content;
    padding: 2rem;
    background:#f7f3f3;
    margin: 1rem;
}

.chips {
    font-size: 1.5rem;
    background: rgb(187, 184, 184);
    padding: 0.5rem 1rem;
    width: min-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.chip-orange {
    background: orangered;
}
.chip-blue {
    background: rgb(68, 68, 226);
}

.chip-yellow {
    background: rgb(177, 177, 8);
}

.fab {
    padding: 0 0.2rem 0 0;
}
.chips-btn {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: rgb(240, 234, 234);
    padding: 0 0 0 6px;
}
