.chips {
    font-size: 1.5rem;
    background: var(--COLOR_LIGHTER_GRAY);
    padding: 0.5rem 1rem;
    width: min-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--COLOR_WHITE);
}

.chip-orange {
    background: var(--COLOR_ORANGE);
}
.chip-blue {
    background: var(--COLOR_BLUE);
}

.chip-yellow {
    background: var(--COLOR_YELLOW);
}

.fab {
    padding: 0 0.2rem 0 0;
}
.chips-btn {
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--COLOR_WHITE);
    padding: 0 0 0 6px;
}
