.chips {
    font-size: 1.5rem;
    background: rgb(187, 184, 184);
    padding: 0.5rem 1rem;
    width: min-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.chip-orange {
    background: orangered;
}
.chip-blue {
    background: rgb(68, 68, 226);
}

.chip-yellow {
    background: rgb(177, 177, 8);
}

.fab {
    padding: 0 0.2rem 0 0;
}
.chips-btn {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: rgb(240, 234, 234);
    padding: 0 0 0 6px;
}
