.dialog {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--COLOR_WHITE);
    width: 30rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 8px;
    color: var(--COLOR_LIGHT_GRAY);
}

.list-dialog {
    height: min-content;
}

.dialog-btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    padding-inline-start: 0;
}

.btn-dialog {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--COLOR_LIGHT_BLUE);
}

.dialog-list-item {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.fa-user-circle,.fa-plus-circle {
    font-size: 2.5rem;
}

.list-dialog-lable {
    font-size: 2rem;
    color: var(--COLOR_BLACK);
    font-weight: 600;
}