.drawer {
    box-sizing: border-box;
    background: var(--COLOR_WHITE);
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--COLOR_LIGHT_GRAY);
}

.drawer-list {
    padding: 20px 0;
}

.drawer-head {
    font-size: 2rem;
    padding: 2rem 2rem;
}

.drawer-title {
    color: var(--COLOR_BLACK);
}

.link-box {
    display: flex;
    font-size: 1.7rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    margin: 10px;
    height: 4rem;
    border-radius: 4px;
}

hr {
    background: var(--COLOR_LIGHT_GRAY);
}

.m-right {
    margin-right: 20px;
}

.active-link {
    color: var(--COLOR_WHITE);
    background: var(--COLOR_LIGHT_BLUE);
} 

.right-icon {
    margin-left: 11rem;
}

.sub-link-box {
    padding-inline-start: 40px;
}