@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    padding: 8rem 8rem;
    background: #f7f3f3;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: rgb(74, 74, 219);
    color: white;
    font-size: 2.5rem;
    padding: 2rem 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.btn-header {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 2rem;
}

.header-section {
    display: inline-flex;
    flex: 1 1 auto;
    gap: 2rem;
}

.header-title {
    justify-content: flex-start;
}

.header-actions {
    justify-content: flex-end;
}

.text-badge-box {
    position: relative;
    font-size: 2rem;
    width: 169px;
}

.badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 5px;
    background:rgb(74, 74, 219);
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    color: white;
}

.badge-text {
    top: 5px;
    right: -10px;
}


/* badge on buttons style*/
.badge-box {
    width: min-content;
    position: relative;
}

.btn-badge {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background:rgb(74, 190, 219);
    border: none;
    outline: none;
    border-radius: 2px;
}

/* badge on right */
.badge-top-right {
    top: -12px;
    right: -15px;
}

/* badge on left */
.badge-top-left {
    top: -12px;
    left: -15px;
}
/* badge on bottom */

.fa-home {
    font-size: 4rem;
    color:rgb(74, 190, 219);
}

.badge-bottom-left{
    bottom: -10px;
    left: -10px;
}





















