.header {
    background: rgb(74, 74, 219);
    color: white;
    font-size: 2.5rem;
    padding: 2rem 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.btn-header {
    color: white;
    font-size: 2rem;
}

.header-section {
    display: inline-flex;
    flex: 1 1 auto;
    gap: 2rem;
}

.header-title {
    justify-content: flex-start;
}

.header-actions {
    justify-content: flex-end;
}






















