@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root {
    --COLOR_BLACK: #000;
    --COLOR_WHITE: #fff;
    --COLOR_LIGHTER_GRAY: rgb(187, 184, 184);
    --COLOR_LIGHT_GRAY: rgb(133, 129, 129);
    --COLOR_PURE_GRAY: rgb(58, 57, 57);
    --COLOR_BLUE: rgb(68, 68, 226);
    --COLOR_LIGHT_BLUE: rgb(74, 74, 219);
    --COLOR_ORANGE: #ff4500;
    --COLOR_YELLOW: rgb(177, 177, 8);

    font-family: 'Roboto', sans-serif;;
}