.snackbar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background: rgb(58, 57, 57);
    padding: 1.5rem ;
    color: white;
    border-radius: 4px;
}

.snackbar-text {
    display: flex;
    flex-wrap: wrap;
}

.btn-snackbar {
    margin-top: 2px;
    border: none;
    outline: none;
    background: transparent;
    color:#bb86fc;
    font-weight: 600;
    padding: 0;
    letter-spacing: 1px;
}

/* dialog 2 */

.dialog-list-item{
    text-decoration: none;
    list-style-type: none;
}