.tabs-box {
    width: 35rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    color: var(--COLOR_LIGHT_GRAY);
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 4rem;
}

.active-tab {
    color: var(--COLOR_LIGHT_BLUE);
    border-bottom: 2px solid var(--COLOR_LIGHT_BLUE);
}

.flex-column {
    flex-direction: column;
    height: 6rem;
} 