.tabs-box {
    width: 35rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    color: rgb(133, 129, 129);
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 4rem;
}

.hidden-icon {
    display: none;
}

.active-tab {
    color:rgb(74, 74, 219);
    border-bottom: 2px solid rgb(74, 74, 219);
}

.flex-column {
    flex-direction: column;
    height: 6rem;
} 