.center-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-transparent {
    background: transparent;
}

.border-none {
    border: none;
    outline: none;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}